@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.contenedor{
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

.header{
    background-color: #a7a78d;
}

.nav-header{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .nav-header{
        flex-direction: row;
        justify-content: space-around;
    }
}

.nav-header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    transition: background-color 0.2s;
    width: 100%;
    text-align: center;
}
@media (min-width:768px) {
    .nav-header a {
        width: auto;
    }
}

.nav-header a:hover {
    background-color: rgb(199, 173, 173);
}

.titulo-nombre {
    text-align: center;
    font-weight: bold;
    color: rgb(5, 7, 7);
    padding: 2rem;
    font-size: 2.2rem;
}

@media (min-width: 768px) {
    .titulo-nombre{
        font-size: 3rem;
    }
}

.title {
 color: brown;
 text-align: center;
 font-size: 1.5rem;
}

@media (min-width:768px) {
    .title {
        font-size: 2rem;
    }
}

.burguer-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sub-burguer img {
    max-width: 100%;
    transition: scale, 0.3s;
}
.sub-burguer img:hover{
    transform: scale(0.9);
}

.bt2{
    border-radius: 20px;
    display:inline-block;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(128, 128, 128);
    padding: 0.5rem 3rem;
    margin-top: 1rem;
    transition: background-color, 0.3s;
    cursor: pointer;
}
.bt2:hover{
    background-color: rgb(78, 75, 75);
}
.bt2 a{
    text-decoration: none;
    color: #fff;
}
 


main {
    background-color: #eeeec6;
}



div {
    padding: 20px;
}

/* FOOTER */
.footer{
    border-top: 1px solid rgb(209, 208, 208);
    background: #a7a78d;
}
.menu-footer{
    display: grid;
    align-items: center;
    gap: 1rem;
}
@media (min-width:768px) {
    .menu-footer{
        grid-template-columns: repeat(2, 1fr);
    }
}
.enlaces {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
}
@media (min-width:768px) {
    .enlaces{
        grid-row: unset;
    }
}

.div-footer {
    display: flex;
    gap: 1rem;
    align-items: center;
}
@media (min-width:768px) {
   .div-footer{
    justify-content: center;

   } 
}

.div-footer p {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
@media (min-width:768px) {
    .div-footer p{
        font-size: 1.5rem;
    }
}

.div-footer a {
    color: #000;
    font-size: 1.5rem;
}

.footer-imagen iframe{
    width: 100%;
}
.copyright{
    text-align: center;
    padding: 0 0 1rem;
}
@media (min-width:768px) {
    .copyright {
        margin-top: 1rem;
        padding: 2rem;
    }
}

.copyright p {
    font-size: 1rem;
}
@media (min-width:768px) {
    .copyright p {
        font-size: 1.2rem;

    }
}

/* SECCION HAMBURGUESAS */

.contenedor-burguer{
    display: grid;
    align-items: flex-end;
    gap: 2rem;
}
@media (min-width:768px) {
    .contenedor-burguer{
        grid-template-columns: repeat(3,1fr);
    }
}

.burguer {
    display: flex;
    flex-direction: column;
}
.burguer img{
    max-width: 100%;
    margin-bottom: 2rem;
    transition: rotate, scale, 0.1s;
}
.burguer img:hover{
    transform: rotate(10deg) scale(1.1);
}
.burguer p {
    text-align: center;
    font-size: 1.5rem;
}

/* CONTACTO */

.title-contacto{
    color: brown;
 text-align: center;
 font-size: 2rem;
 padding: 2rem 0;
}
.seccion-formulario {
    padding: 2rem;
}
.formulario {
    background-color: rgb(192, 183, 183);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 95%;
}
@media (min-width:768px) {
    .formulario{
        max-width: 40rem;
    }
}
@media (min-width:992px) {
    .formulario{
        max-width: 50rem;
    }
}
.campo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}
@media (min-width:768px) {
    .campo{
        flex-direction: row;
    }
}

.campo label {
    text-transform: uppercase;
    font-size: 1rem;
    flex: 2;
}

.campo input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    flex: 16;
}
@media (min-width:768px) {
    .campo input{
        flex: 12;
    }
}
@media (min-width:992px) {
    .campo input{
        flex: 16;
    }
}

.campo textarea {
    width: 100%;
    height: 10rem;
}

.botones-formulario{
    display: flex;
    gap: 1rem;
}

.boton{
    border: none;
    background-color: #a7a78d;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

/* UBICACION */

.menu-ubicacion p {
    text-align: center;
    font-size: 1.1rem;
    margin: 1rem 0;
}
@media (min-width:768px) {
    .menu-ubicacion p {
        font-size: 1.5rem;
    }
}
.ubicacion {
    display: flex;
    flex-direction: column-reverse;
}

.ubicacion-imagen iframe{
    width: 100%;
}
@media (min-width:768px) {
    .ubicacion-imagen{
        margin: 0 auto;
        width: 80%;
    }
}

.ubi{
    padding-top: 1rem;
}


